::selection{background:transparent}
.main{
  color:#eee;
  background:#222;
  cursor: pointer;
}
.wrap{
  max-width:500px;
  font-size:18px;
}
.tool{margin:10px}
.title{font-size:24px}
.panel{
  width:480px;
  margin-left:10px;
  height:400px;
  background-color: #320800;
  background-image: linear-gradient(45deg, #521 25%, transparent 25%, transparent 75%, #521 75%, #521), 
					linear-gradient(45deg, #521 25%, transparent 25%, transparent 75%, #521 75%, #521);
  background-size:160px 160px;
  background-position:0 0, 80px 80px;
  filter: brightness(1.1) saturate(1.2);
  /* Browser Specific */
  -webkit-filter: brightness(1.1) saturate(1.2);
  -moz-filter: brightness(1.1) saturate(1.2);
  -o-filter: brightness(1.1) saturate(1.2);
  -ms-filter: brightness(1.1) saturate(1.2);
}

.jewel{
  float:left;
  border:3px solid rgba(255,255,255,.8);
  transition:all 0.5s ease;
  /* Browser Specific */
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
}
.jewel[type='main']{
  margin:2px;
  width:70px;
  height:70px;
  background:#0b3;
  border-radius:50%;
  box-shadow:0px -15px 25px rgba(50,10,10,0.5) inset,0px 0px 5px 2px rgba(0,0,0,0.5)
}
.jewel[type='sub']{
  background:#c29;
  margin:9px;
  width:56px;
  height:56px;
  border-radius:5px;
  box-shadow:0px -5px 8px 4px rgba(255,210,210,0.4) inset,0px 0px 5px 2px rgba(0,0,0,0.5)
}
.jewel[type='main']:before{
  content:' ';
  background:rgba(255,255,255,.6);
  position:absolute;
  margin-left:11px;
  margin-top:4px;
  width:48px;
  height:36px;
  border-radius:50%;
  z-index:100;
}

.jewel[type='sub']:before{
  content:' ';
  background:rgba(255,255,255,.4);
  position:absolute;
  margin-left:6px;
  margin-top:3px;
  width:44px;
  height:18px;
  border-radius:6px;
  box-shadow:0px 5px 5px 5px rgba(255,255,255,.4);
  z-index:100;
}
.jewel[type='main']:after{
  content:' ';
  background:rgba(0,0,0,.2);
  position:absolute;
  margin-left:8px;
  margin-top:24px;
  width:54px;
  height:42px;
  border-radius:50%;
  z-index:99;
}
input,select{
  font-size:16px;
}
.upcoming{color:#666 !important}
input[type="number"]{width:60px}
fieldset{
  color:#eee;
  border:1px solid;
  text-shadow:1px 1px 3px black;
  box-shadow:1px 1px 3px 1px black;
}
.left{width:auto;float:left;padding-top:10px;}
.right{width:170px;height:54px;float:right;padding:8px 10px 9px 10px}
