.wrap
  .title Netete式雙色火力合表
  %fieldset.tool
    %legend 選項
    %fieldset.left
      %legend 類型
      %label
        %input{:checked => "checked", :name => "mode", :type => "radio", :value => "uuu"}雙體
      %label
        %input{:name => "mode", :type => "radio", :value => "rrow"}橫排 
    %fieldset.right
      %legend 主屬性
      %label
        %input{:name => "color", :type => "radio", :value => "#f10"}火
      %label
        %input{:name => "color", :type => "radio", :value => "#04b"}水
      %label
        %input{:checked => "checked", :name => "color", :type => "radio", :value => "#3a3"}木
      %label
        %input{:name => "color", :type => "radio", :value => "#fc1"}光
      %label
        %input{:name => "color", :type => "radio", :value => "#619"}暗
    .right
      雜珠數
      %input{:max => "18", :min => "6", :name => "num", :type => "number", :value => "12"}/
      %input{:onclick => "query()", :type => "button", :value => "查詢"}
      %br
      %label
        %input{:name => "mirror", :onclick => "reflect()", :type => "checkbox"}鏡像
  .panel
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "sub"}
    .jewel{:type => "sub"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "main"}
    .jewel{:type => "main"}
    .jewel{:type => "sub"}
    .jewel{:type => "sub"}
    .jewel{:type => "sub"}